<ion-list>

    <ion-item-divider color="light">
        <ion-label text-capitalize> {{'scoring.buildingRules'|translate}} </ion-label>
        <ion-select [(ngModel)]="game.buildingRule">
            <ion-option *ngFor="let buildingRule of config.buildingCards" [value]="buildingRule">{{buildingRule.description}}</ion-option>
        </ion-select>
    </ion-item-divider>
    <ion-item *ngFor="let player of game.players">

        <ion-avatar item-left *ngIf="player?.faction">
            <img src="assets/logos/{{player?.faction?.logo}}">
        </ion-avatar>
        <ion-label text-capitalize> {{player.name}}
            <p text-capitalize> {{player.faction?.name}}</p>
        </ion-label>



        <ion-select [(ngModel)]="player.score[definition.type]">
            <ion-option *ngFor="let entry of game.buildingRule?.rate | entries" [value]="entry.key">{{entry.key}}</ion-option>
        </ion-select>

        <label item-right>  <ion-icon name="arrow-round-forward"></ion-icon> </label>
        <ion-badge item-right [color]="player?.faction?.colorName">{{player.score.getBuildingsTotal(game.buildingRule)}} </ion-badge>

    </ion-item>

</ion-list>