<ion-list>
    <ion-item-divider color="light"> {{'scoring.coins'|translate}}
    </ion-item-divider>

    <ion-item *ngFor="let player of game.players">

        <ion-avatar item-left *ngIf="player?.faction">
            <img src="assets/logos/{{player?.faction?.logo}}">
        </ion-avatar>
        <ion-label text-capitalize> {{player.name}}
            <p text-capitalize> {{player.faction?.name}}</p>
        </ion-label>



        <ion-input [color]="player?.faction?.colorName" [ngModel]="player.score.money" type="number" (ngModelChange)="player.score.money = convertToNumber($event)"></ion-input>

    </ion-item>

</ion-list>