<ion-list>
    <ion-item-divider color="light" *ngIf="definition.type!=='buildings'"> {{'scoring.'+definition.type|translate}}


    </ion-item-divider>
    <ion-item-divider color="light" *ngIf="definition.type==='buildings'">
        <ion-label text-capitalize> {{'scoring.buildingRules'|translate}} </ion-label>
        <ion-select [(ngModel)]="game.buildingRule">
            <ion-option *ngFor="let buildingRule of config.buildingCards" [value]="buildingRule">{{buildingRule.description}}</ion-option>
        </ion-select>
    </ion-item-divider>
    <ion-item *ngFor="let player of game.players" [ngSwitch]="definition.inputType">

        <ion-label text-capitalize> {{player.name}} </ion-label>

        <ion-input *ngSwitchCase="'number'" [ngModel]="player.score[definition.type]" type="number" (ngModelChange)="player.score[definition.type] = convertToNumber($event)">></ion-input>

        <ion-badge item-right *ngSwitchCase="'static'">{{player.score[definition.type]}}</ion-badge>

        <ion-select *ngSwitchCase="'select'" [(ngModel)]="player.score[definition.type]">
            <ion-option *ngFor="let i of definition | range:definition.min:definition.max " [value]="i">{{i}}</ion-option>
        </ion-select>

        <ion-select *ngSwitchCase="'building'" [(ngModel)]="player.score[definition.type]">
            <ion-option *ngFor="let entry of game.buildingRule?.rate | entries" [value]="entry.key">{{entry.key}}</ion-option>
        </ion-select>

        <ion-range *ngSwitchCase="'range'" snaps="true" min="{{definition.min}}" max="{{definition.max}}" [(ngModel)]="player.score[definition.type]"
            step="1" pin="true">
            <ion-label range-left>{{definition.min}}</ion-label>
            <ion-label range-right>{{definition.max}}</ion-label>
        </ion-range>

        <label item-right *ngIf="definition.type==='stars'"> x {{player.score.starsRate}} = </label>
        <ion-badge item-right *ngIf="definition.type==='stars'">{{player.score.starsTotal}} </ion-badge>

        <label item-right *ngIf="definition.type==='territories'"> x {{player.score.territoriesRate}} =</label>
        <ion-badge item-right *ngIf="definition.type==='territories'">{{player.score.territoriesTotal}} </ion-badge>

        <label item-right *ngIf="definition.type==='resources'">/ 2 x {{player.score.resourcesRate}} =</label>
        <ion-badge item-right *ngIf="definition.type==='resources'">{{player.score.resourcesTotal}} </ion-badge>

        <label item-right *ngIf="definition.type==='buildings'">  <ion-icon name="arrow-round-forward"></ion-icon> </label>
        <ion-badge item-right *ngIf="definition.type==='buildings'">{{player.score.buildingsTotal}} </ion-badge>

    </ion-item>

</ion-list>