<ion-list>
    <ion-item-divider color="light"> {{'scoring.'+definition.type|translate}}</ion-item-divider>
    <ion-item *ngFor="let player of game.players" [ngSwitch]="definition.inputType">

        <ion-label fixed> {{player.name}} </ion-label>

        <ion-input *ngSwitchCase="'number'" [(ngModel)]="player.score[definition.type]" type="phone"></ion-input>

        <ion-select *ngSwitchCase="'select'" [(ngModel)]="player.score[definition.type]" interface="popover">
            <ion-option *ngFor="let i of definition.numbers">{{i}}</ion-option>
        </ion-select>

        <ion-range *ngSwitchCase="'range'" snaps="true" min="{{definition.min}}" max="{{definition.max}}" [(ngModel)]="player.score[definition.type]"
            step="1" pin="true">
            <ion-label range-left>{{definition.min}}</ion-label>
            <ion-label range-right>{{definition.max}}</ion-label>
        </ion-range>

    </ion-item>

</ion-list>