<ion-header>
    <ion-navbar>
        <ion-title>
            {{'player.edit'|translate}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <form [formGroup]="form" (ngSubmit)="dismiss(true)">
        <ion-list>

            <ion-item>

                <ion-input text-capitalize formControlName="name" type="text" placeholder="{{'player.name'|translate}}" #name>

                </ion-input>
            </ion-item>
            <ion-list radio-group formControlName="faction">
                <ion-item *ngFor="let entry of config.factions|entries">
                    <ion-avatar item-left>
                        <img src="assets/logos/{{entry.value.logo}}">
                    </ion-avatar>
                    <ion-label text-capitalize>
                        {{entry.key}}
                    </ion-label>

                    <ion-radio [color]="entry.value.colorName" [value]="entry.value"></ion-radio>
                </ion-item>

            </ion-list>
            <ion-item>
                <button ion-button color="dark" type="button" (click)="dismiss(false)" item-right>
                {{'general.cancel'|translate}}
                </button>
                <button ion-button type="submit" [disabled]="!form.valid" item-right>
                    {{'general.submit'|translate}}
                </button>
            </ion-item>
        </ion-list>

    </form>
</ion-content>